
@mixin site__title() {
  font-family: "PT Sans Bold", 'Arial', sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
}

@mixin site__menu() {
  @include site__title;
  line-height: 40px;
}

@mixin site__text() {
  font-family: "PT Sans", 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
