.menu {
  position: relative;
}

.menu__list {
  padding: 0;
  margin: 0;
  @media ($tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.menu__item {
  list-style: none;
  @media ($tablet-width) {
    width: 20%;
  }
}

.menu__link {
  display: block;
  padding: 7px 0;
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background: rgb(129, 179, 210);
  border-bottom: solid 1px rgb(103, 143, 168);
  border-top: solid 1px rgb(154, 194, 219);
  @include site__menu();
  font-size: 18px;

  @media ($tablet-width) {
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 16px 0;
    font-size: 14px;
    line-height: 26px;
  }

  @media ($desktop-width) {
    padding-left: 0px;
    padding: 15px 0;
  }
}

.menu__item:nth-child(3) .menu__link,
.menu__item:nth-child(4) .menu__link {
  @media ($desktop-width) {
    padding-left: 135px;
  }
}


.menu__link:hover {
  background: rgb(102,158,192);
  @media ($tablet-width) {
    background: #ffffff;
    color: rgb(129, 179, 210);
  }
}

.menu__link:active {
  background: rgb(84,150,189);
  color: rgb(136,182,209);
  @media ($tablet-width) {
    background: #ffffff;
    color: rgb(188, 188, 188);
  }
}
.menu__link--active {
  @media ($tablet-width) {
    color: rgb(118, 99, 87);
  }
}

.menu__link--active:hover {
  @media ($tablet-width) {
    color: rgb(96,78,67);
  }
}

.menu__link--active:active {
  @media ($tablet-width) {
    color: rgb(214, 208, 204);
  }
}

.menu__item:nth-child(2) {
  @media ($tablet-width) {
    margin-right: 80px;
  }
}

.menu__item:nth-child(3) {
  @media ($tablet-width) {
    margin-left: 80px;
  }
}
