.menu__list {
  padding: 0;
  margin: 0;
}

.menu__item {
  list-style: none;
}

.menu__link {
  display: block;
  padding: 7px 0;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  background: rgb(129, 179, 210);
  border-bottom: solid 1px rgb(103, 143, 168);
  border-top: solid 1px rgb(154, 194, 219);
  @include site__menu();
}
