
.page-footer {
  text-align: center;
  @media ($tablet-width) {
    display: flex;
  }
}

.page-footer__hashtag {
  @include site__title;
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  padding: 0;
  text-decoration: none;
  color: #000000;
  @media ($tablet-width) {
    margin-top: 47px;
    width: 33.333333%;
  }
}

.social {
  @media ($tablet-width) {
  width: 33.333333%;
}
}

.social__btn {
  padding: 25px 25px;
  display: inline-block;
  position: relative;
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }

  &:after {
    display: block;
    position: absolute;
  }

  @media ($tablet-width) {
    margin-top: 35px;
  }
}

.social__btn--twitter:after {
  content: url("../img/icon-twitter.svg");
  top: 20px;
  right: 15px;
}

.social__btn--facebook:after {
  content: url("../img/icon-facebook.svg");
  top: 15px;
  right: 20px;
}

.social__btn--youtube:after {
  content: url("../img/icon-youtube.svg");
  top: 18px;
  right: 15px;
}

.copyright {
  @include site__text;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 30px;
  position: relative;
  color: #000000;

  @media ($tablet-width) {
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 49px;
    width: 33.333333%;
  }

}
.copyright__text {
  padding-right: 10px;
}

.copyright__icon,
.copyright__text {
  display: inline-block;
  vertical-align: middle;
}

.copyright:hover .copyright__icon {
  fill: rgb(129,179,210);
}

.copyright:active .copyright__icon {
  fill: rgb(178, 178, 178);
}
