.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  position: relative;
  min-height: 55px;
  background: #ffffff;
  @media ($tablet-width) {
    position: absolute;
    left: 50%;
    background: none;
    z-index: 1;
    }
  @media($desktop-width) {
    margin-left: -90px;

  }
}

.page-header__logo-link {
  position: absolute;
  display: block;
  left: 50%;
  width: 105px;
  margin-left: -52.5px;
  z-index: 1;
  @media ($tablet-width) {
    position: static;
  }
  @media ($desktop-width) {
    margin-left: 0;
  }
}

.page-header__toggle {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  top: 10px;
  background: url("../img/icon-burger.svg") no-repeat;
  border: none;
}
