.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  position: relative;
  min-height: 55px;
  background: #ffffff;
  @media ($tablet-width) {
     position: absolute;
     left: 50%;
     margin-left: -52.5;
     background: none;
     z-index: 1;
     top: 0;
    }
}

.page-header__logo-link {
  position: absolute;
  display: block;
  left: 50%;
  width: 105px;
  margin-left: -52.5px;
  z-index: 1;
  @media ($tablet-width) {
    position: static;
  }
}

.menu__toggle {
  @media ($tablet-width) {
    display: none;
  }
}
