
.page-footer {
  text-align: center;
  @media ($tablet-width) {
    display: flex;
  }
}

.page-footer__hashtag {
  @include site__title;
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  padding: 0;
  text-decoration: none;
  color: #000000;
  @media ($tablet-width) {
    margin-top: 12px;
    width: 33.333333%;
  }
}

.social {
  @media ($tablet-width) {
  width: 33.333333%;
}
}

.social__btn {
  width: 46px;
  height: 48px;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  background: rgb(129,179,210);

  &:first-child {
    margin-left: 0;
  }

  &:after {
    display: block;
    position: absolute;
  }

}

.social__twitter {
  position: absolute;
  width: 18px;
  height: 14px;
  right: 14px;
  top: 17px;
}

.social__facebook {
  position: absolute;
  width: 9px;
  height: 18px;
  top: 14px;
  right: 19px;
}

.social__youtube {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 17px;
  right: 12px;
}

.copyright {
  @include site__text;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 30px;
  position: relative;
  color: #000000;

  @media ($tablet-width) {
    margin-top: 12px;
    margin-bottom: 0px;
    padding-top: 0px;
    width: 33.333333%;
  }

}
.copyright__text {
  padding-right: 10px;
}

.copyright__icon,
.copyright__text {
  display: inline-block;
  vertical-align: middle;
}

.copyright:hover .copyright__icon {
  fill: rgb(129,179,210);
}

.copyright:active .copyright__icon {
  fill: rgb(178, 178, 178);
}

.social__btn:hover {
  background: rgb(102,158,192);
}

.social__btn:active {
  background: rgb(84,150,189);
}

.social__btn:active svg {
  fill: rgb(136,182,209);
}
