
.photo {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgb(229,229,229);
  border-top: 1px solid rgb(229,229,229);
  margin-left: 20px;
  padding-top: 25px;
  @media ($tablet-width) {
    border: none;
    width: 324px;
    margin: 0;
    padding: 0;
  }
  @media ($desktop-width) {
    width: 33.333333%;
  }
}
.photo__link img  {
  display: block;
}

.photo__name {
  @include site__title;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding-top: 15px;
  @media ($desktop-width) {
    color: #ffffff;
    padding-left: 20px;
  }
}

.photo__author {
  @include site__text;
  text-transform: none;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding-top: 5px;
  @media ($desktop-width) {
    color: #ffffff;
    padding-left: 20px;
  }
}

.photo__like {
  @include site__title;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 15px;
  cursor: pointer;
  @media ($tablet-width) {
    margin-top: 30px;
    text-align: right;
    padding-right: 20px;
  }
  @media ($desktop-width) {
    padding: 0;
    color: #ffffff;
    padding-right: 30px;
  }
}

.photo__like svg {
  fill: #b2b2b2;
  @media ($desktop-width) {
    fill: #ffffff;
  }
}

.photo:first-of-type {
  @media ($tablet-width) {
    width: 648px;
  }
  @media ($desktop-width) {
    width: 100%;
  }
}
.photo:first-of-type .photo__like:before {
  @media ($tablet-width) {
    left: 550px;
  }
  @media ($desktop-width) {
    left: 1120px;
  }
}

.photo:first-of-type .photo__content {
  @media ($tablet-width) {
  width: 100%;
  height: 400px;
}
}

.photo {
  position: relative;
}

.photo__info {
  @media ($tablet-width) {
    background: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  @media ($desktop-width) {
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0;
    padding: 0;
    padding-bottom: 15px;
    background: rgba(0,0,0, 0.5);
  }
}
