
.photo {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgb(229,229,229);
  border-top: 1px solid rgb(229,229,229);
}

.photo__info {
  padding-left: 20px;
}

.photo__content {
  padding-top: 25px;
}

.photo__name {
  @include site__title;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding-top: 15px;
}

.photo__author {
  @include site__text;
  text-transform: none;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding-top: 5px;
}

.photo__like {
  @include site__title;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding-left: 35px;
  margin-top: 10px;
  padding-bottom: 15px;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    background: url("../img/icon-like.svg");
    background-size: 22px 21px;
    fill: #B2B2B2;
    left: 0px;
    top: 0;
    width: 22px;
    height: 21px;
  }
}
