
.reason__description--blue {
 background: rgb(129, 179, 210);
 color: #ffffff;
 text-align: center;
}

.reason-row {
  width: 100%
}

.reason__title {
  @include site__title;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.reason__text,
.reason__number {
  @include site__text;
  margin: 0;
  padding: 0;
}

.reason__description--icon {
  padding-left: 70px;
  padding-right: 40px;
}
.reason__description .reason__title {
  padding-top: 40px;
}

.reason__description .reason__number {
  padding-top: 15px;
  padding-bottom: 15px;
}

.reason__description .reason__text {
  padding-bottom: 40px;
}

.reason__description--icon .reason__text {
  padding: 0;
}

.reason__description--icon .reason__title {
  padding: 0;
  padding-top: 35px;
  padding-bottom: 15px;
}

.reason__description--food .reason__text {
  padding-bottom: 35px;
}

.reason {
  position: relative;
}

.reason__description--icon:before {
  content:"";
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 25px;
}

.reason--home .reason__description--icon:before {
  background: url("../img/icon-house.svg") center top no-repeat;
  background-size: contain;
}

.reason--gift .reason__description--icon:before {
  background: url("../img/icon-gift.svg") center top no-repeat;
  background-size: contain;
}

.reason--food .reason__description--icon:before {
  background: url("../img/icon-burger.svg") center top no-repeat;
  background-size: contain;
  top: 26px;
}

.reason--food .reason__text {
  padding-bottom: 35px;
}

.reason__description--grey {
 background: rgb(238, 238, 238);
 text-align: center;
 padding-left: 20px;
 padding-right: 20px;
}

.reason__description--grey .reason__title {
  padding-top: 30px;
}

.reason__description--grey .reason__number {
  padding-top: 15px;
  padding-bottom: 15px;
}

.reason__description--grey .reason__text {
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgb(214,214,214);
}

.reason__description--grey .reason__text--no-border {
   border: none;
 }

.reason__picture img {
  display: block;
}
