.reasons {
  width: 100%;
}

.reasons__title {
  @include site__title;
  font-size: 18px;
  text-align: center;
  padding: 0 31px;
  margin-top: 38px;

  @media ($tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-top: 47px;
    padding: 0 160px;
  }

  @media ($desktop-width) {
    padding: 0 360px;
  }
}

.reasons__text {
  @include site__text;
  text-align: center;
  margin-top: 30px;
  padding: 0 30px;
  margin-bottom: 30px;

  @media ($tablet-width) {
    margin-bottom: 51px;
  }

  @media($desktop-width) {
    margin-bottom: 55px;

  }
}
