
.reason--blue {
 background: rgb(129, 179, 210);
 color: #ffffff;
 text-align: center;
 @media ($tablet-width) {
   width: 33.3333333%;
 }
}

.reason-row {
  @media ($tablet-width) {
    display: flex;
    flex-direction: row;
    min-height: 256px;
  }
}


 .reason__title {
  @include site__title;
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  @media ($tablet-width) {
    font-size: 21px;
    padding: 0px 50px;
    padding-top: 47px;
  }

  @media($desktop-width) {
    padding: 0 140px;
    padding-top: 57px;
  }
}

.reason__text,
.reason__number {
  @include site__text;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.reason--icon {
  padding-left: 70px;
  padding-right: 40px;

  @media ($tablet-width) {
    padding: 0;
    text-align: center;
  }
}


.reason__number {
  padding-top: 15px;
  padding-bottom: 15px;

  @media ($tablet-width) {
    padding-bottom: 25px;
  }
}



.reason--icon {
  @media($tablet-width) {
  width: 33.333333%;
  }
}

.reason--icon-gift .reason__text br {
  display: none;
  @media ($tablet-width) {
    display: block;
  }
}

.reason--icon .reason__text {
  padding: 0;
  @media ($tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }
  @media ($desktop-width) {
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 80px;
  }
}


.reason--icon .reason__title {
  padding: 0;
  padding-top: 35px;
  padding-bottom: 15px;

  @media ($tablet-width) {
    padding-top: 160px;
    padding-bottom: 25px;
  }
}

.reason--icon-food .reason__text {
  padding-bottom: 35px;
}

.reason {
  position: relative;
}


.reason--icon:before {
  content:"";
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 25px;

  @media ($tablet-width) {
    width: 80px;
    height: 80px;
    top: 60px;
    left: 90px;
  }

  @media ($desktop-width) {
    left: 160px;
  }
}

.reason--icon-home:before {
  background: url("../img/icon-house.svg") center top no-repeat;
  background-size: contain;
}

.reason--icon-gift:before {
  background: url("../img/icon-gift.svg") center top no-repeat;
  background-size: contain;
}

.reason--icon-food:before {
  background: url("../img/icon-burger.svg") center top no-repeat;
  background-size: contain;
  top: 26px;

  @media ($tablet-width) {
    top: 65px;
  }
}

.reason--icon-food .reason__text {
  padding-bottom: 35px;
  @media ($tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.reason--icon-home .reason__text {
  @media ($tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.reason--grey {
 background: rgb(238, 238, 238);
 text-align: center;
 padding-left: 20px;
 padding-right: 20px;

 @media ($tablet-width) {
   padding: 0;
   width: 33.333333%;
 }
}

.reason--grey .reason__title {
  padding-top: 30px;

  @media ($tablet-width) {
    font-size: 21px;
    padding-top: 47px;
  }
}

.reason--grey .reason__number {
  padding-top: 15px;
  padding-bottom: 15px;

  @media ($tablet-width) {
    padding-bottom: 24px;
  }
}

.reason--grey .reason__text {
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgb(214,214,214);

  @media ($tablet-width) {
    padding-bottom: 47px;
    border: none;
  }

  @media ($desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.reason--grey:last-of-type .reason__text {
  border: none;
}

.reason-row--inverted {
  @media ($tablet-width) {
    flex-direction: row-reverse;
  }
}

.reason--icon-gift {
  @media ($tablet-width) {
    order: 3;
  }
}

.reason--blue .reason__text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  @media ($tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }
  @media ($desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}


.reason--image {
  width: 320px;
  height: 256px;
  @media ($tablet-width) {
    width: 66.66666%;
  }
}

.reason--image img {
  @media ($desktop-width) {
    height: 256px;
    width: 100%;
  }
}
