
.review__title {
  @include site__title;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.review__form {
  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
  }
}

.review__block {
  padding: 0 20px;
  border-top: 1px solid rgb(229,229,229);
  padding-bottom: 23px;

  @media ($tablet-width) {
    padding: 0;
    border: none;
  }
}

.review__description {
  @include site__text;
  text-align: center;
  font-size: 14px;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}
.review__form label {
  @include site__text;
  font-size: 14px;
  line-height: 26px;
}

.review__block input[type="text"] {
  @include site__text;
  font-family: 'PT Sans Bold', 'Arial';
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-left: 13px;
  padding-top: 21px;
  padding-bottom: 19px;
  outline: none;
  border: none;
  background-color: rgb(242, 242, 242);
  margin-top: 20px;
}

.review__name {
  width: 210px;

  @media ($tablet-width) {
    width: 215px;
  }
}

.review__surname {
  width: 170px;
  @media ($tablet-width) {
    width: 175px;
  }
}

.review__patronymic {
  width: 175px;
  @media ($tablet-width) {
    width: 180px;
  }
}

.review__block input[type="tel"],
.review__block input[type="email"] {
  font-family: 'PT Sans Bold', 'Arial';
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-right: 60px;
  outline: none;
  border: none;
  background-color: rgb(242, 242, 242);
  width: 200px;

  @media ($tablet-width) {
    width: 568px;
  }
}

.review__block:nth-child(2) label {
  padding-left: 20px;
  margin-bottom: 9px;
}

.review__block:nth-child(2) .review__title {
  margin-bottom: 18px;
}

.review__error {
  @include site__text;
  font-size: 14px;
  line-height: 26px;
  color: #ff5c5c;
  text-transform: none;
  padding-left: 20px;
  margin-top: 9px;
  margin-bottom: 15px;
}

input.review__phone {
  background: url("../img/icon-phone.svg") no-repeat;
  background-position: 240px;
  @media ($tablet-width) {
    background-position: 610px;
  }
}

input.review__email {
  background: url("../img/icon-mail.svg") no-repeat;
  background-position: 240px;
  @media ($tablet-width) {
    background-position: 610px;
  }
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

.review__block:nth-child(3) .review__title {
  padding-bottom: 45px;
}

.review__radio-label {
  display: block;
  margin-bottom: 50px;

  @media ($tablet-width) {
    margin-bottom: 62px;
  }
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 80px;
  cursor: pointer;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 60px;
  height: 60px;
  background: rgb(242,242,242);
  border-radius: 50%
}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: rgb(51, 51, 51);
  border-radius: 50%;
  left: 20px;
  bottom: 0;
  transition: all .2s;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}


.review__block:nth-child(4) label {
  display: block;
}

.review__checkbox-label {
  margin-top: 70px;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.review__block:nth-child(3) .review__title {
  padding-bottom: 45px;
  @media ($tablet-width) {
    padding-bottom: 82.5px;
  }
}

.review__block:nth-child(3) label {
  @include site__text;
  font-family: 'PT Sans Bold', 'Arial';
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
}

.review__checkbox-label {
  margin: 0;
  display: block;
  margin-bottom: 50px;
}

.review__block:nth-child(4) .review__title {
  padding-bottom: 40px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 80px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 60px;
  height: 60px;
  background: rgb(242,242,242);
  border-radius: 10%;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 30px;
  background: url("../img/icon-tick.svg") no-repeat;
  left: 20px;
  bottom: 0;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.review__block:nth-child(5) .review__title {
    padding-bottom: 20px;
}

.review__text {
  margin: 0;
  padding: 0;
  border: none;
  background: rgb(242,242,242);
  @include site__text;
  font-family: 'PT Sans Bold', 'Arial';
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}


.review__submit {
  border: none;
  @include site__text;
  font-family: 'PT Sans Bold', 'Arial';
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 45px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
}


.review__block:nth-child(3) {
  order: -1;
}

.review__block:first-child label {
  display: block;
}

.review__block:first-child  .review__title {
  @media ($tablet-width) {
    padding-bottom: 40px;
  }
}
