.video {
  text-align: center;
  @media ($tablet-width) {
    padding: 0 60px;
  }
}

.video img {
  width: 320px;
  height: 200px;
  display: block;

  @media ($tablet-width) {
    width: 648px;
    height: 500px;
  }
}

.video__title {
  @include site__title;
  font-size: 18px;
  padding: 0;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 30px;

  @media ($tablet-width) {
    font-size: 30px;
    padding-top: 65px;
  }
}

.video__text {
  @include site__text;
  padding: 0;
  margin: 0;
  line-height: 24px;
  padding: 0 40px;
  padding-bottom: 35px;

  @media ($tablet-width) {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.video__lenght {
  height: 45px;
  width: 280px;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  bottom: 18px;;
}

.video__content {
  position: relative;
}
