.video {
  text-align: center;
}

.video__title {
  @include site__title;
  font-size: 18px;
  padding: 0;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 30px;

  @media ($tablet-width) {
    font-size: 30px;
    padding-top: 65px;
  }

  @media ($desktop-width) {
    padding-top: 70px;
  }
}

.video__text {
  @include site__text;
  padding: 0;
  margin: 0;
  line-height: 24px;
  padding: 0 40px;
  padding-bottom: 35px;

  @media ($tablet-width) {
    padding-left: 115px;
    padding-right: 115px;
  }

  @media ($desktop-width) {
    padding-bottom: 70px;
  }
}

.video__content {
  background: url("../img/video-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 200px;
  margin-bottom: 140px;
  position: relative;
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background: url("../img/video-mobile@2x.jpg") no-repeat;
  }
  @media ($tablet-width) {
    margin: 0 60px;
    padding-bottom: 60px;
    background: url("../img/video-tablet@1x.jpg") no-repeat;
    width: 648px;
    height: 500px;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: url("../img/video-tablet@2x.jpg") no-repeat;
    }
  }
  @media ($desktop-width) {
    padding: 0;
    background: url("../img/video-desktop@1x.jpg") no-repeat;
    width: 800px;
    margin: 0 200px;
    padding-bottom: 100px;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: url("../img/video-desktop@2x.jpg") no-repeat;
    }
  }
}
.video__img {
  display: block;
}

.video__content {
  position: relative;
}

.video__btns {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background: rgb(242, 242, 242);
  @media ($tablet-width) {
    margin: 0;
    padding-right: 0;
    padding-left: 35px;
    padding-right: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
    background: rgba(0,0,0,0.5);
  }
}

.video__btns button {
  background: none;
  border: none;
  cursor: pointer;
}

.video__content {
  fill: rgb(92, 104, 112);

  @media ($tablet-width) {
    fill: #ffffff;
  }
}


.video__control {
  position: absolute;
  bottom: -60px;

  @media ($tablet-width) {
    bottom: 60px;
  }

  @media ($desktop-width) {
    bottom: 100px;
  }
}

.video__lenght {
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  width: 280px;;
  background: rgba(0,0,0,0.5);
  position: relative;
  @media ($tablet-width) {
    margin: 0;
    padding: 0;
    background: none;
  }
}
.video__repeat {
  width: 17px;
  height: 21px;
  margin-right: 100px;
  @media ($tablet-width) {
    margin-right: 459px;
  }

  @media ($desktop-width) {
    margin-right: 611px;
  }
}

.video__subtitles {
  width: 35px;
  height: 20px;
  margin-right: 30px;
}

.video__fullscreen {
  width: 22px;
  height: 22px;
}


.video__lenght-bar {
  position: absolute;
  border-bottom: 3px solid rgba(242,242,242,0.5);
  width: 235px;
  top: 13px;
  left: 22px;
  cursor: pointer;
  @media ($tablet-width) {
    top: 80px;
    left: 90px;
    width: 390px;
  }
  @media ($desktop-width) {
    width: 540px;
  }
}

.video__lenght-bar:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  top: 7px;
  left: 36px;
  cursor: pointer;

  @media ($tablet-width) {
    left: 115px;
  }

}
