.wrapper {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  background: white;
  overflow: hidden;

  @media ($tablet-width) {
    width: 766px;
  }

  @media ($desktop-width) {
    width: 1200px;
  }
}
